<%- include("partials/header"); -%>
    <div class="container">
        <% pokemonarr.forEach(pokemon=>{ %>
            <div>
                <img src="<%= pokemon.image.UrlMaleOrUndefined %>" alt="">
                <div style="margin: auto; text-align: center;" class="name"><a href="/pokemon/<%=pokemon.name%>" style="color: black;"><%= pokemon.name %></a></div>
            </div>
        <%})%>
    </div>
<%- include("partials/footer"); -%>